.bios {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.bio-box {
  text-align: center;
  max-width: 400px;
  cursor: pointer;
}

.bio-box img {
  width: 100%;
  max-width: 250px;
  border-radius: 20px;
  transition: transform 0.3s;
}

.bio-box:hover img {
  transform: scale(1.05);
}

.bio-name {
  color: gold;
  font-size: 1.6em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bio-text {
  font-size: 1em;
  color: white;
  line-height: 1.6em;
  text-align: justify;
  margin-top: 10px;
}
